EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=goog_xxxxx
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=appl_xxxxx
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=your_entitlement_id
EXPO_PUBLIC_REVENUECAT_OFFERING_ID=your_offering_id
EXPO_PUBLIC_MIXPANEL_TOKEN=your_mixpanel_project_token
